.dashboard-grid {
    margin-top: 15px;

    .dashboard-grid-icon-button {
        height: 40px;
        width: 40px;
        padding: 0;
    }

    .dashboard-grid-icon {
        color: #fff;
    }
}

