.matches-grid {
    margin-top: 15px;

    .match-icon-button {
        height: 40px;
        width: 40px;
        padding: 0;
    }

    .match-icon {
        color: #fff;
    }
}

header {
    &.top-bar {
        .bar-input {
            &.expanded {
                max-height: 200px;
            }
        }
    }
}

