header {
    background: #fff;
    padding: 16px;
    position: sticky;
    top: 0;
    box-shadow: 0 0 3px #666;

    [class*="col"] {
        position: static;
    }
}

.logo {
    max-width: 64px;
    position: absolute;
    left: 50%;
    top: 16px;
    transform: translateX(-50%);
    white-space: nowrap;
}
