#logo {
    max-width: 64px;
    position: absolute;
    z-index: 9998;
    font-size: 64px;
    color: #aaa;
    left: 50%;
    top: 32px;
    transform: translateX(-50%);
    white-space: nowrap;
}

#lang {
    position: fixed;
    z-index: 9999;
    bottom: 4px;
    left: 4px;
}

#avatar {
    width: 24px;
    height: 24px;
    font-size: 14px;
}

#search-input {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 9999;
    box-shadow: 0 0 6px #000;
    background-color: #fff;
    padding: 15px;
}

#search-content {
    max-height: calc(100vh - 128px);
    overflow-y: auto;
    background-color: #fff;
}

#search-meta {
    position: sticky;
    bottom: 0;
    left: 0;
    z-index: 9999;
    padding: 8px 15px;
    background-color: #fff;
}

.header-button {
    display: inline-block;
    padding: 16px;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 0;
    color: #333;
    transition: all .5s 0s;
    text-decoration: none;

    // &.header-button-primary {
    //     background-color: #eee;
    // }

    &:hover {
        color: #000;
        transition: all .5s 0s;
    }
}

.page-row {
    max-width: calc(100vw - 32px);
    margin: 16px auto auto;
}

.link-no-underline {
    text-decoration: none;
}

header {
    &.top-bar {
        top: 56px;
        z-index: 100;
        background-color: #eee;
        padding: 8px;
        box-shadow: 0 0 5px #000;

        .bar-input {
            max-height: 0;
            opacity: 0;
            visibility: hidden;
            transition: all .5s cubic-bezier(0, 0, 0, 0);
            overflow: auto;

            &-inner {
                padding: 16px 16px 8px;
            }

            &.expanded {
                max-height: 100px;
                opacity: 1;
                visibility: visible;
                transition: all .5s cubic-bezier(0, 0, 0, 0);
            }
        }
    }
}
